@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url("../assets/font-awesome/css/fontawesome.min.css");
@import url("../assets/font-awesome/css/brands.min.css");
@import url("../assets/font-awesome/css/solid.min.css");

:root {
    --default-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.81);
    --primary-color: rgb(236, 253, 0);
    --secondary-color: rgb(201, 201, 201);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #141414;
    color: var(--secondary-color);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


a {
    color: inherit;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

ul, ol {
    padding-left: 1em;
}

dl {
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
    
}

dt::after {
content: ": ";
}

dt, dd {
    display: inline;
    word-wrap: break-word;
}

dt {
    opacity: 40%;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.container >*:not(:last-child), p:not(:last-child), li:not(:last-child) {
    margin-bottom: 1.25rem;
}